### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [69]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

#Preview data
#school_data.head()
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [55]:
#find names of schools
schools=school_data["school_name"].unique()

#find the number of schools
total_schools=len(schools)
total_schools

#calculate the number of students by finding the sum of each school's size
total_students=school_data["size"].sum()

#calculate the total budget using .sum
total_budget=school_data["budget"].sum()

#calculate average math score
avg_math=student_data["math_score"].mean()

#calculate average reading score
avg_reading=student_data["reading_score"].mean()

#use locate to find students with a passsing math score
math_pass_n=student_data.loc[student_data["math_score"]>=70]["math_score"].count()

#percent pass
math_pass_p=math_pass_n/total_students
math_pass_p="{:.2%}".format(math_pass_p)
#math_pass_p

#use locate to find students with a passsing reading score
reading_pass_n=student_data.loc[student_data["reading_score"]>=70]["reading_score"].count()

#percent pass
reading_pass_p=reading_pass_n/total_students
reading_pass_p="{:.2%}".format(reading_pass_p)
reading_pass_p

#find students who passed both
both_pass_n=student_data.loc[(student_data['math_score'] >= 70) & 
                             (student_data['reading_score'] >= 70)]['student_name'].count()
#percent pass both
both_pass_p=both_pass_n/total_students
both_pass_p="{:.2%}".format(both_pass_p)
both_pass_p

#create dataframe to hold new variables
district_table = pd.DataFrame({
    
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_reading],
    "Average Math Score": [avg_math],
    "% Passing Reading":[reading_pass_p],
    "% Passing Math": [math_pass_p],
    "Overall Passing Rate": [both_pass_p]

})
district_table

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,39170,24649428,81.87784,78.985371,85.81%,74.98%,65.17%

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [79]:
# Combine the data into a single dataset and retain all students  
complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete.head()

# School Name 
school_name_group = complete.groupby(['school_name'])


# school types using school dataset
school_type = school_data.set_index('school_name')['type']


# # total students by school, use student ID and gender to make sure values are the same
#students_by_school = school_name_group['gender'].count()
students_by_school = school_name_group['Student ID'].count()
students_by_school
 

# Total School Budget using the school dataset
school_budget= school_data.set_index('school_name')['budget']

# Per Student Budget 
school_budget_student=school_budget/students_by_school

# Average Math Score 
avg_math_school=school_name_group['math_score'].sum()/students_by_school

# Average Reading Score 
avg_read_school=school_name_group['reading_score'].sum()/students_by_school

# % Passing Math

# % Passing Reading

# % Overall Passing (The percentage of students that passed math and reading.)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type